/* Подключение шрифтов*/
@font-face { /* фонт заголовков */
   font-family: HeadFont;
   src: url(fnt/Spectral-ExtraBold.ttf);
}
@font-face {  /* фонт основного текста */
   font-family: BasicTextFont;
   src: url(fnt/Spectral-Regular.ttf);
}

* { /* Стили для всего*/
/*margin: 0px auto;*/
/* background-color: navy; */
/*min-width: 640px;*/
}
*,*::after,*::before {
  box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
font-size: 18px;
font-family: BasicTextFont,Arial,sans-serif;
font-weight: 400;
line-height: 24px;
color: white ;
background-color: navy;
background-image: linear-gradient(45deg,navy,blue);
/*background-image: url("img/cher.png");
background-position: top center;
background-repeat: no-repeat;*/
/* не рекомендовано академией*/
cursor: default;
min-width: 480px;
position: relative;
height: auto;
border: 10px solid yellow;
}

td, th {
    white-space: normal;
    word-wrap: break-word;
}
:focus {
  outline: 1;
  color: white;
}
header { /*стиль заголовка*/
width: 96%;
font-size: 1em;
font-family: HeadFont;
margin-top: 2px;
text-align: center;
margin: 0px auto;
line-height: 46px;/*Высота строки + верт. центрирования текста*/
white-space: normal;
word-wrap: break-word;
}


.navlink { /*стили ссылок в панели навигации*/
line-height: 40px;/*Высота строки + верт. центрирования текста*/
width: 230px; /*Фиксируем ширину блока*/
text-align: center; /*Центрируем текст по горизонтали*/
border: 1px solid lightblue;
padding: 0px;
border-radius: 6px;
font-family: HeadFont;
font-size: 1.5em;
display: block;
cursor: pointer;
margin: 4px;
text-decoration: none;
}
.navlink:hover {
	background-color: #000030;
	border: 1px solid lightblue;
  background-color:darkblue;
	border-radius: 6px;
	box-shadow: 8px 8px 5px gray;
  text-decoration: underline;
}
.navlink:focus {
	background-color: #000030;
	border: 1px solid lightblue;
  background-color:darkblue;
	border-radius: 6px;
	box-shadow: 8px 8px 5px gray;
  text-decoration: none;
}
.linkNoDecoration {
  line-height: 40px;/*Высота строки + верт. центрирования текста*/
  width: 230px; /*Фиксируем ширину блока*/
  text-align: center; /*Центрируем текст по горизонтали*/
  padding: 0px;
  border: 1px solid red;
    border-color:  transparent;
  border-radius: 6px;
  font-family: HeadFont;
  font-size: 1.5em;
  display: block;
  cursor: pointer;
  margin: 4px;
  margin-left: 90px;
  margin-right: 90px;
  text-decoration: none;
  color: darkgray;
  }

.advInfo {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 20px;

/*
  list-style: none;
  font-size: 1.5em;
  line-height: 35px;
  text-align: center;
  display: flex;
  background-color: silver;
  justify-content: center;
  /*align-items: center;
  align-content: center;*/
}


.linkNoDecoration:hover,.linkNoDecoration:focus {
  background-color: #000030;
	border: 1px solid lightblue;
  background-color:darkblue;
  border: 1px solid red;
  border-radius: 6px;
	box-shadow: 8px 8px 5px gray;
  text-decoration: underline;
  border-color:  transparent;
  outline: none;
  color: white;
}
/*.linkNoDecoration:hover,.linkNoDecoration:focus {
  background-color: navy;
  color: white;
  border: 1px solid white;
  text-decoration: underline;
  border-radius: 5px;
  box-shadow: 8px 8px 5px gray;
  padding-left: 25px;
  padding-right: 25px;
  /*margin-right: 20px;
  /*padding-left: 25px;
  padding-right: 25px;
}*/
main h2 {
  color:white;
  text-align: center;
  font-size: 42px;
}
.mainCol { /* колонка на главном экране*/
/*background-color: red;*/
color: silver;
width: 50%;
text-align: center;
justify-content: center;
/*flex-grow: 1;*/
/*display: inline;*/
min-height: 200px; /* for Demo only */
display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;
}
.mainCol2 { /* колонка на главном экране*/
/*background-color: silver;*/
color: black;
/*display: inline;*/
width: 50%;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;

/*flex-grow: 1;*/
}
.navig { /* стиль кнопок навигации */
}
.ns {
/*  background: yellow;*/
/*  width: 66%;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 20px;

  border-top: 2px solid white;
  border-bottom:2px solid white;

}

.actnav {
  background-color:blue;
  color: white;
}
.deactnav {
  background-color:silver;
  color: gray;
}
h1 { /*  стиль заголовка 1*/
  font-size: 3em;
  color: white;
  font-family: HeadFont;
}
.deviz { /* стиль девиза */
  font-size: 0.5em;
  font-family: BasicTextFont;
  text-align: right;
  color: silver;
  margin-top:-15px;
  }
.zagl {
  font-size: 3em;
  color: white;
  font-family: HeadFont;
  margin-top: -36px;


/*  background: red;*/
}

.hide { /* спрятать элемент */
  display: none;
}
.artCustom { /* стиль для выбра секций в главном меню*/
width: auto;
/*background-color: tomato;*
display:flex;
flex-direction: row;
}
#p1 { /*  стиль парагрофа 1*/
  color: red;
}
 .pic1 {
    width: 95%;
    border-radius: 100px;
 box-shadow: 8px 8px 5px gray;
 }
#p2 { /*  стиль парагрофа 2*/
  color: green;

}
#p3 { /*  стиль парагрофа 3*/

  color: blue;
}
#p4 { /*  стиль парагрофа 3*/

  color: yellow;
}
#p4 { /*  стиль парагрофа 3*/

  color: pink;
}
.fbox {
display: flex;
box-sizing: border-box;
}
.red {
color: red;
font-size: 24px;
background: green;
display: flex;
}
.tshow {
display: block;
}
.thide {
display: none;
}
/*
.picmain {
background: red;
margin: 20px;
padding: 0;
object-fit: cover;
border: 1px solid lightblue;
border-radius: 150px;
}
*/
td {
  border: 1px solid grey;
}
.zzz {
  background-color: green;
  display: block;
}
.TabAboutMe1 {
  font-family:  BasicTextFont;
  font-size: 38px;
  line-height: 36px;
  color: white;
  width: 95%;
  table-layout:fixed;
/*border: 5px solid grey;*/
box-shadow: 8px 8px 5px gray;
overflow: hidden;

}




.tl1 {
  color:red;
  text-align: left;
}
